<!-- _edit.html.erb -->
<tr>
  <td align="center"><a rel="nofollow" data-method="delete" href="/questions/<%= id %>">Remove</a></td>
  <td><input size="6" value="<%= seq %>" name="question[<%= id %>][seq]" id="question_<%= id %>_seq" type="text"></td>
  <td><textarea cols="50" rows="1" name="question[<%= id %>][txt]" id="question_<%= id %>_txt" placeholder="Edit question content here"><%= txt %></textarea></td>
  <td><input size="10" disabled="disabled" value="<%= type %>" name="question[<%= id %>][type]" id="question_<%= id %>_type" type="text"></td>
  <td><!-- Placeholder (TextResponse does not need weight) --></td>
  <td>text area size <input size="6" value="<%= size %>" name="question[<%= id %>][size]" id="question_<%= id %>_size" type="text"></td>
</tr>
